// Mixin
@mixin button-style {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: $border-radius;
  background-color: $color_15;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($color_15, 10%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family_3;
  line-height: 1.5;
  color: $color_17;
}

main {
  padding: 2rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  background-color: $background-color_7;
  border-radius: $border-radius;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;

  .form-row {
    position: relative;
    margin-bottom: 2rem;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
      border: none;
      border-radius: $border-radius;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;

      &:focus {
        outline: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      }
    }

    .contact-label {
      color: $color_4;
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

    textarea {
      resize: none;
      height: 10rem;
    }
  }

  .button-row {
    text-align: center;

    button[type="submit"] {
      @include button-style;
    }
  }
}

.map-container {
  height: 400px;
  margin-top: 2rem;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
  background-color: #1e8903;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  cursor: pointer;
}