@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-family_1: 'Harmattan', sans-serif;
$font-family_2: 'Fahkwang', sans-serif;
$font-family_3: 'Open Sans', sans-serif;
$font-family_4: 'Roboto', sans-serif;