	* {
		box-sizing: border-box;
	}

	.contenedoring {
		display: flex;
		justify-content: center;
		background-color: $background-color_4;
		padding: 1.25rem;

		.forming {
			background-color: $background-color_9;
			width: 90%;
			padding: 3.125rem;
			border-radius: 10px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		}

		.labeling {
			display: block;
			margin-bottom: 0.625rem;
			font-weight: bold;
			color: $color_18;
		}

		.inputing {
			display: block;
			width: 100%;
			padding: 0.625rem;
			margin-bottom: 20px;
			border: none;
			border-radius: 5px;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		}

		.buttoning[type="submit"] {
			display: block;
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 10px;
			box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
			background-color: $background-color_2;
			color: $color_9;
			font-weight: bold;
			text-transform: uppercase;
			transition: background-color 0.2s ease;
			cursor: pointer;

		}

		button[type="submit"]:hover {
			background-color: $background-color_2;
		}

	}