/* -------- VISTA MOBILE -------- */
@media only screen and (min-width: 375px) and (max-width: 812px) {

    /* --------- NAVBAR PARA VISTA MOBILE --------- */
    .logo {

        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;

    }

    .fondoheader {
        background-color: transparent;
    }

    li a {
        text-transform: uppercase;
        font-family: $font-family_1;

    }

    .container-fluid {
        font-size: 12px;
    }

    .colordropdown {
        background-color: #0b8600;
    }

    header {
        display: flex;
        justify-content: center;
    }

    /* FUENTE HARMATTAN USAR PARA FOOTER Y MENU DE NAVEGACION */

    /* ------- CARD IMAGES PARA VISTA MOBILE -------- */
    .left-image {
        width: 30px;

    }

    .right-image {
        width: 30px;
    }

    .tarjetasinfo {
        width: 20rem;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 6px;
        margin-left: 25px;
    }

    .btn {
        font-size: 8px;
        display: none;


    }

    .card {
        transition: 300ms ease-in-out;
        background-color: #aeb7ac;
    }

    .card+.card {
        margin-left: -10%;
    }

    .card:hover {
        transform: rotate(-4deg);
    }

    .card:hover~.card {
        z-index: 1;
        translate: 60px;
    }

    .card h5 {
        position: relative;
    }

    .tablaposiciones {
        padding: 0;
        margin: 0;
        width: auto;
        height: 800px;
        top: 50px;
    }

    /*PAGINA JUGADOR*/

    .form {
        background-color: $background-color_4;
        margin: auto;
        margin-top: 50px;
        margin-bottom: -200px;
        display: grid;
        align-content: center;
        justify-content: center;
        width: 70%;
        height: 400px;
        max-width: 400px;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;

    }

    .form_title {
        font-size: 1rem;
        margin-top: .5em;
        margin-bottom: .5em;
        color: $color_9;
    }

    .form_paragraph {
        font-size: .8rem;
        font-weight: 300px;
        color: $color_9;
    }

    .form_link {
        font-size: .5rem;
        font-weight: 300px;
        color: $color_1;
    }

    .form_container {
        margin-top: 1em;
        display: grid;
        gap: 1.5em;
    }

    .form_group {
        position: relative;
        --color: #5757577e;
    }

    .form_input {
        width: 80%;
        background: none;
        color: $color_2;
        font-size: 1rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid #5757577e;
        font-family: $font-family_1;

        &:focus {
            + {
                .form_label {
                    transform: translateY(-12px) scale(.7);
                    transform-origin: left top;
                    color: $color_3;
                }
            }

            ~ {
                .form_line {
                    transform: scale(1);
                }
            }
        }

        &:not(:placeholder-shown) {
            + {
                .form_label {
                    transform: translateY(-5px) scale(.7);
                    transform-origin: left top;
                    color: $color_1;
                }
            }

            ~ {
                .form_line {
                    transform: scale(1);
                }
            }
        }
    }

    .form_input.form_input {
        &:not(:placeholder-shown) {
            color: $color_6;
        }
    }

    .form_label {
        color: $color_4;
        cursor: pointer;
        position: absolute;
        left: 600px;
        transform: translateY(10px);
        transition: transform .5s, color .3s;
        font-size: 12px;
    }

    .form_submit {
        background: $color_1;
        color: $color_9;
        font-family: $font-family_1;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 1rem;
        padding: .8em 0;
        border: none;
        border-radius: .5em;

    }

    .form.line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $background-color_2;
        transform: scale(0);
        transform: left bottom;
        transition: transform .4s;
    }

    /*PAGINA INGRESO*/

    .contenedoring {
        display: flex;
        align-items: center;
        background-color: $background-color_4;

        .registro {
            color: white;
            text-align: left;
            margin-top: 0px;
            font-size: 2px;
        }

        .forming {
            background-color: white;
            width: 100rem;
            margin-left: 50;
            margin-right: 0;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }

        .labeling {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #3B5834;
        }

        .inputing {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }

        .buttoning[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
            background-color: #1e8903;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.2s ease;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #2e7417;
        }

        .fotoing {
            width: 50%;
            height: 40%;
            border-radius: 10px;
            margin-right: -15rem;

        }

        .fotoing .registro {
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
    }

    /*PAGINA QUIENES SOMOS*/

    .quienes {
        text-align: center;

        .somos {
            font-family: $font-family_1;
            font-size: 10px;
            color: $color_1;
        }

        .subt {
            font-family: $font-family_1;
            font-size: 2rem;
            color: $color_7;
        }

        .parrafo {
            font-family: $font-family_3 ;
            font-size: 16px;
            font-weight: 200;
            color: $color_10;

        }
    }



    /* -------- PAGINA INFORMACION ---------*/

    .tabla_info {
        margin: auto;
        width: 100%;
        height: 50%;
    }


    /* ---------- PAGINA CONTACTO ---------- */

    .nombre {
        text-align: center;
    }

    .formulario {
        width: 80%;
        margin-left: 45px;
        margin-right: 5px;
        margin-bottom: 40px;
        margin-top: 4px;
        text-align: center;
        font-family: 'Fahkwang', sans-serif;
        font-size: medium;
        color: white;
        position: relative;
    }

    .textoing {
        font-family: $font-family_2;
        font-size: 12px;
        font-weight: 100;

        #nombre {
            background-color: $color_10 ;
            border-color: $color_12;
        }

        #Apellido {
            background-color: $color_10 ;
            border-color: $color_12;
        }
    }

    .comentario {
        width: 100%;
        margin-top: -150px;
        height: 120px;
        font-family: $font-family_2;
    }

    .botonescont {
        font-family: $font-family_2;
        font-weight: 500;
        font-size: 12px;
        margin-top: -20px;
    }

    /* MAPA */
    .map-responsive {
        width: 250px;
        height: 200px;
        position: relative;
        margin-left: -45px;
        top: 25px;
    }


    /*PAGINA PLANTILLA*/
    .plantel {
        text-align: center;
        text-transform: uppercase;
        color: $color_2;
        text-decoration: underline;
        margin: 5px;
        color: $color_14 ;
        font-size: smaller;
    }

    .grid-container {
        background-color: $background-color_11;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        cursor: pointer;
    }

    .grid-item {
        position: relative;
        width: 20%;
        margin: 10px;
        overflow: hidden;



        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $background-color_1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
                color: $color_2;
                font-size: 5px;
                font-family: $font-family_4;
                font-weight: bold;
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            .overlay {
                opacity: 1;

                .text {
                    opacity: 1;
                    font-size: 5px;
                    text-align: center;
                    color: $color_2 ;
                }
            }
        }
    }

    /* ---------- PIE DE PAGINA -----------*/

    .footer-col {
        width: 50%;
    }

    .derechos {
        font-size: 10px;
    }


    /*PAGINA MEDIA*/

    .gallery {
        justify-content: center;
        margin-top: -100px;


        .imagengal {
            width: 30%;
            height: 30%;
        }

        .imagengal:hover {
            width: 32%;
            height: 32%;
        }
    }

    .linkmedia {
        font-size: 10px;
        color: $color_4;
        margin: 5px;
    }

}




/**********************************/
/* ------- VISTA TABLET -------- */

@media only screen and (min-width: 768px) and (max-width: 1040px) {
    .logo {

        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;

    }

    .fondoheader {
        background-color: transparent;
    }

    li a {
        text-transform: uppercase;
        font-family: $font-family_1;

    }

    .container-fluid {
        font-size: 20px;
    }

    .colordropdown {
        background-color: #0b8600;
    }

    header {
        display: flex;
        justify-content: center;
    }

    /* FUENTE HARMATTAN USAR PARA FOOTER Y MENU DE NAVEGACION */

    /* ------- CARD IMAGES PARA VISTA TABLET-------- */
    .left-image {
        width: 30px;

    }

    .right-image {
        width: 30px;
    }

    .tarjetasinfo {
        width: 35rem;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 6px;
        margin-left: 100px;
    }

    .btn {
        font-size: 8px;
    }


    .card {
        transition: 300ms ease-in-out;
        background-color: #aeb7ac;
    }

    .card+.card {
        margin-left: -10%;
    }

    .card:hover {
        transform: rotate(-4deg);
    }

    .card:hover~.card {
        z-index: 1;
        translate: 60px;
    }

    .card h5 {
        position: relative;
    }

    .tablaposiciones {
        padding: 0;
        margin: 0;
        width: auto;
        height: 800px;
        top: 50px;
    }

    /*PAGINA PLANTILLA*/

    .plantel {
        text-align: center;
        text-transform: uppercase;
        color: $color_2;
        text-decoration: underline;
        margin: 5px;
        color: $color_14 ;
        font-size: 20px;
    }

    .grid-container {
        background-color: $background-color_11;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        cursor: pointer;
    }

    .grid-item {
        position: relative;
        width: 20%;
        margin: 10px;
        overflow: hidden;



        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $background-color_1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
                color: $color_2;
                font-size: 5px;
                font-family: $font-family_4;
                font-weight: bold;
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            .overlay {
                opacity: 1;

                .text {
                    opacity: 1;
                    font-size: 10px;
                    text-align: center;
                    color: $color_2 ;
                }
            }
        }
    }

    /* PAGINA QUIENES SOMOS */

    .quienes {
        position: relative;
        text-align: center;
        margin: 8rem;
        margin-top: 5px;

        .somos {
            font-family: $font-family_1;
            font-size: 1rem;
            color: $color_1;
        }

        .subt {
            font-family: $font-family_1;
            font-size: 2rem;
            color: $color_7;
        }

        .parrafo {
            font-family: $font-family_3 ;
            font-weight: 200;
            color: $color_10;
            text-align: justify;
        }
    }


    /* -------- PAGINA INFORMACION ---------*/

    .tablaposiciones {
        margin-top: 20px;
        margin-left: 90px;
        width: 75%;
        height: 300px;
    }

    /* ---------- PAGINA CONTACTO ---------- */

    .nombre {
        text-align: center;
    }

    .formulario {
        width: 80%;
        margin-left: 45px;
        margin-right: 5px;
        margin-bottom: 40px;
        margin-top: 4px;
        text-align: center;
        font-family: 'Fahkwang', sans-serif;
        font-size: medium;
        color: white;
        position: relative;
    }

    .textoing {
        font-family: $font-family_2;
        font-size: 12px;
        font-weight: 100;

        #nombre {
            background-color: $color_10 ;
            border-color: $color_12;
        }

        #Apellido {
            background-color: $color_10 ;
            border-color: $color_12;
        }
    }

    .comentario {
        width: 70%;
        margin-top: -150px;
        margin-bottom: 10px;
        margin-left: 60px;
        height: 200px;
        font-family: $font-family_2;
        font-style: italic;
    }

    .botonescont {
        font-family: $font-family_2;
        font-weight: 500;
        font-size: 12px;
        margin-left: 60px;
    }

    /* MAPA */
    .map-responsive {
        width: 400px;
        height: 200px;
        right: -30%;
        top: 25px;
    }

    /*PAGINA MEDIA*/

    .gallery {
        justify-content: center;
        margin-top: -100px;

        .imagengal {
            width: 30%;
            height: 30%;
        }

        .imagengal:hover {
            width: 32%;
            height: 32%;
        }
    }

    .linkmedia {
        font-size: 15px;
        color: $color_4;
        margin: 10px;
    }

}

/*PAGINA JUGADOR*/
.form_label {
    margin-left: -570px;
}

/*PAGINA INGRESO*/

.contenedoring {
    display: flex;
    align-items: center;
    background-color: $background-color_4;

    .registro {
        color: white;
        margin-top: 100px;
        font-size: 35px;
    }

    .forming {
        background-color: white;
        width: 100rem;
        margin-left: -50;
        margin-right: 0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .labeling {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #3B5834;
    }

    .inputing {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    .buttoning[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
        background-color: #1e8903;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.2s ease;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #2e7417;
    }

    .fotoing {
        width: 50%;
        height: 40%;
        border-radius: 10px;
        margin-right: -15rem;

    }

    .fotoing .registro {
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
}




/* ---------- PIE DE PAGINA -----------*/
.footer-col {
    width: 50%;
    margin-bottom: 30px;
}

