/* -------- VISTA MOBILE -------- */
@media screen and (max-width: 767px) {

    /*REGISTRO PAGINA*/

    * {
        box-sizing: border-box;
    }

    .contenedoring {
        display: flex;
        justify-content: center;
        background-color: $background-color_4;
        padding: 1.25rem;

        .forming {
            background-color: white;
            width: 50%;
            padding: 3.125rem;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }

        .labeling {
            display: block;
            margin-bottom: 0.625rem;
            font-weight: bold;
            color: #3B5834;
        }

        .inputing {
            display: block;
            width: 100%;
            padding: 0.625rem;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }

        .buttoning[type="submit"] {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
            background-color: #1e8903;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.2s ease;
            cursor: pointer;

        }

        button[type="submit"]:hover {
            background-color: #2e7417;
        }

    }


    /* --------- NAVBAR PARA VISTA MOBILE --------- */
    .logo {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
    }

    .fondoheader {
        background-color: transparent;
    }

    li a {
        text-transform: uppercase;
        font-family: $font-family_1;

    }

    .container-fluid {
        font-size: 12px;
    }

    .colordropdown {
        background-color: #0b8600;
    }

    header {
        display: flex;
        justify-content: center;
    }


    /* ------- CARD IMAGES PARA VISTA MOBILE -------- */
    .left-image {
        width: 30px;

    }

    .right-image {
        width: 30px;
    }

    .tarjetasinfo {
        width: 20rem;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 6px;
        margin-left: 25px;
    }
    .card-title{
        font-size: 16px;
    }

    .btn {
        font-size: 8px;
        display: none;


    }

    .card {
        transition: 300ms ease-in-out;
        background-color: #aeb7ac;
    }

    .card+.card {
        margin-left: -10%;
    }

    .card:hover {
        transform: rotate(-4deg);
    }

    .card:hover~.card {
        z-index: 1;
        translate: 60px;
    }

    .card h5 {
        position: relative;
    }

    .tablaposiciones {
        padding: 0;
        margin: 0;
        width: auto;
        height: 800px;
        top: 50px;
    }

    /*PAGINA JUGADOR*/
    .form {
        padding: 10px;
        margin: 20px;
        font-size: 14px;


        label {
            font-size: 12px;

        }

        button {
            font-size: 14px;
        }
    }






    /*PAGINA QUIENES SOMOS*/

    .quienes {
        position: relative;
        text-align: center;
        margin-top: 0.313px;

        .somos {
            font-family: $font-family_1;
            font-size: 2rem !important;
            color: $color_1;
        }

        .subt {
            font-family: $font-family_1;
            font-size: 1rem !important;
            color: $color_7;
        }

        .parrafo {
            margin: 2rem;
            font-family: $font-family_3 ;
            color: $color_10;
            text-align: justify;
        }
    }



    /* -------- PAGINA INFORMACION ---------*/

    .tabla_info {
        margin: auto;
        width: 100%;
        height: 50%;
    }


    /* ---------- PAGINA CONTACTO ---------- */

    .contact-form {
        max-width: 600px;
        margin: auto;
        background-color: $background-color_1;
        border-radius: $border-radius;
        padding: 2rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 2px;

        .form-row {
            position: relative;
            margin-bottom: 2rem;

            input,
            textarea {
                display: block;
                width: 100%;
                padding: 1rem;
                font-size: .9rem;
                border: none;
                border-radius: $border-radius;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                transition: all 0.2s ease;

                &:focus {
                    outline: none;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                }
            }

            .contact-label {
                color: $color_4;
                font-weight: light;
                display: block;
                margin-bottom: 0.5rem;
                font-size: .8rem;
                font-weight: bold;
            }

            textarea {
                resize: none;
                height: 10rem;
            }
        }

        .button-row {
            text-align: center;

            button[type="submit"] {
                @include button-style;
            }
        }
    }

    /*MAPA RESPONSIVE*/

    .map-container {
        height: 200px;
        margin-top: 2rem;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }


    /*PAGINA PLANTILLA*/
    .plantel {
        text-align: center;
        text-transform: uppercase;
        color: $color_2;
        text-decoration: underline;
        margin: 5px;
        color: $color_14 ;
        font-size: smaller;
    }

    .grid-container {
        background-color: $background-color_11;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        cursor: pointer;
    }

    .grid-item {
        position: relative;
        width: 20%;
        margin: 10px;
        overflow: hidden;



        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $background-color_1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            .text {
                color: $color_2;
                font-size: 5px;
                font-family: $font-family_4;
                font-weight: bold;
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            .overlay {
                opacity: 1;

                .text {
                    opacity: 1;
                    font-size: 5px;
                    text-align: center;
                    color: $color_2 ;
                }
            }
        }
    }

    /* ---------- PIE DE PAGINA -----------*/

    .footer-col {
        width: 50%;
    }

    .derechos {
        font-size: 10px;
    }


    /*PAGINA MEDIA*/

    .gallery {
        justify-content: center;
        margin-top: -100px;


        .imagengal {
            width: 30%;
            height: 30%;
        }

        .imagengal:hover {
            width: 32%;
            height: 32%;
        }
    }

    .linkmedia {
        font-size: 10px;
        color: $color_4;
        margin: 5px;
    }



    /**********************************/
    /* ------- VISTA TABLET -------- */




    @media screen and (min-width: 769px) and (max-width: 1020px) {
        .logo {

            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 50%;
            position: relative;

        }

        .fondoheader {
            background-color: transparent;
        }

        li a {
            text-transform: uppercase;
            font-family: $font-family_1;

        }

        .container-fluid {
            font-size: 20px;
        }

        .colordropdown {
            background-color: #0b8600;
        }

        header {
            display: flex;
            justify-content: center;
        }


        /* ------- CARD IMAGES PARA VISTA TABLET-------- */
        .left-image {
            width: 30px;

        }

        .right-image {
            width: 30px;
        }

        .tarjetasinfo {
            width: 35rem;
            height: 10rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 6px;
            
            
        }

        .btn {
            font-size: 8px;
        }


        .card {
            transition: 300ms ease-in-out;
            background-color: #aeb7ac;
        }

        .card+.card {
            margin-left: -10%;
        }

        .card:hover {
            transform: rotate(-4deg);
        }

        .card:hover~.card {
            z-index: 1;
            translate: 60px;
        }

        .card h5 {
            position: relative;
        }

        .tablaposiciones {
            padding: 0;
            margin: 0;
            width: auto;
            height: 800px;
            top: 50px;
        }

        /*PAGINA PLANTILLA*/

        .plantel {
            text-align: center;
            text-transform: uppercase;
            color: $color_2;
            text-decoration: underline;
            margin: 5px;
            color: $color_14 ;
            font-size: 20px;
        }

        .grid-container {
            background-color: $background-color_11;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            cursor: pointer;
        }

        .grid-item {
            position: relative;
            width: 20%;
            margin: 10px;
            overflow: hidden;



            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $background-color_1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    color: $color_2;
                    font-size: 5px;
                    font-family: $font-family_4;
                    font-weight: bold;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 1;

                    .text {
                        opacity: 1;
                        font-size: 10px;
                        text-align: center;
                        color: $color_2 ;
                    }
                }
            }
        }

        /* PAGINA QUIENES SOMOS */
        .quienes {
            position: relative;
            text-align: center;
            margin-top: 0.313px;

            .somos {
                font-family: $font-family_1;
                font-size: px;
                color: $color_1;
            }

            .subt {
                font-family: $font-family_1;
                font-size: 2rem;
                color: $color_7;
            }

            .parrafo {
                margin: 2rem;
                font-family: $font-family_3 ;
                color: $color_10;
                text-align: justify;
            }
        }



        /* -------- PAGINA INFORMACION ---------*/

        .tablaposiciones {
            margin-top: 20px;
            margin-left: 90px;
            width: 75%;
            height: 300px;
        }



        /* ---------- PAGINA CONTACTO ---------- */


        .contact-form {
            max-width: 600px;
            margin: auto;
            background-color: $background-color_1;
            border-radius: $border-radius;
            padding: 2rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            margin-top: 5px;
            margin-bottom: 5px;

            .form-row {
                position: relative;
                margin-bottom: 2rem;

                input,
                textarea {
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1.2rem;
                    border: none;
                    border-radius: $border-radius;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                }

                .contact-label {
                    color: $color_4;
                    display: block;
                    margin-bottom: 0.5rem;
                    font-size: .9rem;
                    font-weight: bold;
                }

                textarea {
                    resize: none;
                    height: 10rem;
                }
            }

            .button-row {
                text-align: center;

                button[type="submit"] {
                    @include button-style;
                }
            }
        }

        /*MAPA RESPONSIVE*/

        .map-container {
            height: 200px;
            margin-top: 2rem;
            border-radius: $border-radius;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }

        /*PAGINA MEDIA*/

        .gallery {
            justify-content: center;
            margin-top: -100px;

            .imagengal {
                width: 30%;
                height: 30%;
            }

            .imagengal:hover {
                width: 32%;
                height: 32%;
            }
        }

        .linkmedia {
            font-size: 15px;
            color: $color_4;
            margin: 10px;
        }

    }

    /*PAGINA LOGIN JUGADOR*/

    form {
        padding: 10px;
        margin: 30px;
        font-size: 16px;

        label {
            font-size: 14px;
        }

        button {
            font-size: 16px;
        }
    }

    .form-container {
        background-color: blue($color: #000000);
        border: none;
        margin: 50px;
        text-align: center;
        font-size: 14px;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }

        form {
            display: inline-block;
            text-align: left;
            margin-bottom: 10px;

            input {
                padding: 10px;
                margin-bottom: 20px;
                border: none;
                border-bottom: 1px solid #ccc;
                font-size: inherit;
                width: 100%;
                transition: all 0.2s ease-in-out;

                &:hover,
                &:focus {
                    background-color: #fff;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
                    border-bottom: 2px solid $color_1;
                }
            }
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }

        button[type="submit"] {
            background-color: $background-color_3;
            color: $color_12;
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: darken($background-color_7, 10%);
            }
        }


        .textolog {
            font-size: 14px;
            margin-top: 0;
        }

        a {
            color: $color_4;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $color_1;
            }
        }






        /* ---------- PIE DE PAGINA -----------*/
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }

        /*PAGINA INGRESO*/

        .contenedoring {
            display: flex;
            align-items: center;
            background-color: $background-color_4;

            .registro {
                color: white;
                margin-top: 100px;
                font-size: 35px;
            }

            .forming {
                background-color: white;
                width: 50%;
                margin-left: 15rem;
                margin-right: 0;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            }

            .labeling {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                color: #3B5834;
            }

            .inputing {
                display: block;
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            }

            .buttoning[type="submit"] {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
                background-color: #1e8903;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                transition: background-color 0.2s ease;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: #2e7417;
            }

            .fotoing {
                width: 50%;
                height: 40%;
                border-radius: 10px;
                margin-right: -10rem;



            }

            .fotoing .registro {
                text-transform: uppercase;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
        }


        /*VISTA DESKTOP*/

        @media only screen and (min-width: 1024px) {

            /*CARDS*/

            .left-image {
                width: 80px;
            }

            .right-image {
                width: 80px;
            }

            .tarjetasinfo {
                width: 50rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                margin-left: 25%;
            }

            .card {
                transition: 300ms ease-in-out;
                background-color: $background-color_3;

                &:hover {
                    transform: rotate(-4deg);
                    cursor: pointer;
                }

                &:hover~.card {
                    z-index: 1;
                    translate: 60px;
                }
            }

            .card+.card {
                margin-left: -10%;
            }

            .tablaposiciones {
                padding: 0;
                margin-left: 130px;
                width: 80%;
                height: 850px;
                margin-top: 100px;
            }

            /*CONTACTO*/

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: $font-family_3;
                line-height: 1.5;
                color: $color_17;
            }

            main {
                padding: 2rem;
            }

            .contact-form {
                max-width: 600px;
                margin: auto;
                background-color: $background-color_7;
                border-radius: $border-radius;
                padding: 2rem;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                margin-top: 5px;
                margin-bottom: 5px;

                .form-row {
                    position: relative;
                    margin-bottom: 2rem;

                    input,
                    textarea {
                        display: block;
                        width: 100%;
                        padding: 1rem;
                        font-size: 1.2rem;
                        border: none;
                        border-radius: $border-radius;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        transition: all 0.2s ease;

                        &:focus {
                            outline: none;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                        }
                    }

                    .contact-label {
                        color: $color_4;
                        display: block;
                        margin-bottom: 0.5rem;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    textarea {
                        resize: none;
                        height: 10rem;
                    }
                }

                .button-row {
                    text-align: center;

                    button[type="submit"] {
                        @include button-style;
                    }
                }
            }

            .map-container {
                height: 400px;
                margin-top: 2rem;
                border-radius: $border-radius;
                overflow: hidden;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

                iframe {
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }

            .submit-button {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
                background-color: #1e8903;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                transition: background-color 0.2s ease;
                cursor: pointer;
            }

            /*FOOTER*/

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .container {
                max-width: 1170px;
                margin: auto;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
            }

            ul {
                list-style: none;
            }

            .footer {
                background-color: $background-color_2;
                padding: 70px 0;
            }

            .footer-col {
                width: 25%;
                padding: 0 15px;

                h4 {
                    font-size: 18px;
                    font-family: $font-family_4;
                    color: $color_9;
                    margin-bottom: 35px;
                    font-weight: 500;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        background-color: $background-color_4;
                        height: 2px;
                        box-sizing: border-box;
                        width: 50px;
                    }
                }

                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }

                        a {
                            font-size: 16px;
                            text-transform: none;
                            font-family: $font-family_3;
                            color: $color_9;
                            text-decoration: none;
                            font-weight: 300;
                            color: $color_10;
                            display: block;
                            transition: all 0.3s ease;

                            &:hover {
                                color: $color_9;
                                padding-left: 8px;
                            }
                        }
                    }
                }

                .social-links {
                    a {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        background-color: $background-color_7;
                        margin: 0 10px 10px 0;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 50%;
                        color: $color_9;
                        transition: all 0.5s ease;

                        &:hover {
                            color: $color_11;
                            background-color: $background-color_2;
                        }
                    }
                }

            }

            .footer .derechos {
                background-color: $background-color_4;
                padding: 10px 10px;
                margin-bottom: -75px;
                text-align: center;
                color: #fff;
            }

            /*GALLERIA*/

            .gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .imagengal {
                    width: 30%;
                    height: 30%;
                    transition: all 0.5s ease;
                    filter: grayscale(80%);
                    margin: 5px;
                }
            }


            .imagengal:hover {
                width: (32%);
                height: (32%);
                filter: grayscale(0%);
                cursor: pointer;
            }

            /* HEADER */

            .logo {
                width: 60px;
                height: 60px;
                cursor: pointer;
                border-radius: 50%;
                position: relative;
            }

            .fondoheader {
                background-color: $background-color_1;
            }

            li {
                a {
                    @include anclas
                }
            }

            .container-fluid {
                font-size: 25px;
            }

            .colordropdown {
                background-color: $background-color_2;
            }

            header {
                display: flex;
                justify-content: center;
            }

            /*INGRESO*/
            .contenedoring {
                display: flex;
                align-items: center;
                background-color: $background-color_4;
                padding: 1.25rem;
            }


            .forming {
                background-color: white;
                width: 70%;
                padding: 3.125rem;
                margin-left: 20rem;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            }

            .labeling {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                color: #3B5834;
            }

            .inputing {
                display: block;
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            }

            .buttoning[type="submit"] {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
                background-color: #1e8903;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                transition: background-color 0.2s ease;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: #2e7417;
            }

            .fotoing {
                width: 50%;
                height: 40%;
                border-radius: 10px;
                transform: rotate(0deg);

            }

            .fotoing+.registro {
                margin-left: 30px;
                text-transform: uppercase;
                top: 85px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

            }

            /*JUGADOR*/



            .form-container {
                max-width: 500px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                border: none;

                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    input[type="text"],
                    input[type="password"] {
                        width: 100%;
                        margin: 10px 0;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: $background-color_4;
                        font-size: $font-family_4;
                        color: $color_4;
                        transition: all 0.2s ease-in-out;

                        &:hover,
                        &:focus {
                            background-color: $color_1;
                            color: blue($color: #000000);
                        }
                    }

                    button[type="submit"] {
                        background-color: $background-color_3;
                        color: $color_12;
                        font-size: 16px;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: darken($background-color_7, 10%);
                        }
                    }
                }

                .textolog {
                    font-size: 18px;
                    margin-top: 0;
                }

                a {
                    color: $color_6;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $color_1;
                    }
                }
            }


        }

        /*PLANTILLA CARDS*/

        .plantel {
            text-align: center;
            text-transform: uppercase;
            color: $color_2;
            text-decoration: underline;
            margin: 5px;
            color: $color_14 ;
        }


        .grid-container {
            background-color: $background-color_11;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
        }

        .grid-item {
            position: relative;
            width: 20%;
            margin: 10px;
            overflow: hidden;



            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $background-color_1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    color: $color_12;
                    font-size: .8rem;
                    font-family: $font-family_4;
                    font-weight: bold;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .overlay {
                    opacity: 1;

                    .text {
                        opacity: 1;
                    }
                }
            }
        }

        /*QUIENES SOMOS*/

        .quienes {
            position: relative;
            text-align: center;
            margin-top: 0.313px;

            .somos {
                font-family: $font-family_1;
                font-size: 4rem;
                color: $color_1;
            }

            .subt {
                font-family: $font-family_1;
                font-size: 1.5rem;
                color: $color_7;
            }

            .parrafo {
                margin: 2rem;
                font-family: $font-family_3 ;
                color: $color_10;
                text-align: justify;
            }
        }

        /*TABLA*/

        .tabla_info {
            background: $background-color_7;
            border-radius: 5px;
            width: 100%;

            .puntos {
                color: $color_6;
            }
        }

    }
}

/*PAGINA REGISTRO*/

.contenedoring {
    display: flex;
    justify-content: center;
    background-color: $background-color_4;
    padding: auto;

    .forming {
        background-color: white;
        width: 70%;
        padding: 3.125rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .labeling {
        display: block;
        margin-bottom: 0.625rem;
        font-weight: bold;
        color: #3B5834;
    }

    .inputing {
        display: block;
        width: 100%;
        padding: 0.625rem;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    .buttoning[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 139, 10, 0.2);
        background-color: #1e8903;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.2s ease;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #2e7417;
    }
}