.quienes{
    position: relative;
    text-align:center;
    margin: 12.5rem;
    margin-top: 0.313px;

    .somos{
        font-family: $font-family_1;
        font-size: 6rem;
        color: $color_1;
    }
    .subt{
        font-family: $font-family_1;
        font-size: 2rem;
        color: $color_7;
    }

    .parrafo{
        font-family: $font-family_3 ;
        color: $color_10;
        text-align: justify;
    }
}