$color_1: rgb(44, 171, 27);
$color_2: whitesmoke;
$color_3: #fff;
$color_4: #efefef;
$color_5: aqua;
$color_6: white;
$color_7: #ffff;
$color_8: grey;
$color_9: #ffffff;
$color_10: #bbbbbb;
$color_11: #24262b;
$color_12: #111;
$color_13: #555;
$color_14: #C5E6A6;
$background-color_1: transparent;
$background-color_2: #0b8600;
$background-color_3: #aeb7ac;
$background-color_4: #061700;
$background-color_5: #24262b;
$background-color_6: #e91e63;
$background-color_7: rgba(255,255,255,0.2);
$background-color_8: #ffffff;
$background-color_9: #fff;
$background-color_10: linear-gradient(to bottom, #56ab2f, #061700, #357822, #17de17);
$background-color_11: linear-gradient(to bottom, #5a784c, #31711a, #0a3000, #000f00);