$color_1: rgb(44, 171, 27);
$color_2: whitesmoke;
$color_3: #fff;
$color_4: #efefef;
$color_5: aqua;
$color_6: white;
$color_7: #ffff;
$color_8: grey;
$color_9: #ffffff;
$color_10: #bbbbbb;
$color_11: #24262b;
$background-color_1: transparent;
$background-color_2: #0b8600;
$background-color_3: #aeb7ac;
$background-color_4: #061700;
$background-color_5: #24262b;
$background-color_6: #e91e63;
$background-color_7: rgba(255,255,255,0.2);
$background-color_8: #ffffff;