@media only screen and (min-width: 768px) and (max-width: 1040px) {
    .logo {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
    }

    .fondoheader {
        background-color: $background-color_1;
    }

    li {
        a {
            text-transform: uppercase;
            font-family: $font-family_1;
        }
    }

    .container-fluid {
        font-size: 20px;
    }

    .colordropdown {
        background-color: $background-color_2;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .left-image {
        width: 30px;
    }

    .right-image {
        width: 30px;
    }

    .tarjetasinfo {
        width: 35rem;
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 6px;
        margin-left: 100px;
    }

    .btn {
        font-size: 8px;
    }

    .card {
        transition: 300ms ease-in-out;
        background-color: $background-color_3;

        &:hover {
            transform: rotate(-4deg);
        }

        &:hover~.card {
            z-index: 1;
            translate: 60px;
        }

        h5 {
            position: relative;
        }
    }

    .card+.card {
        margin-left: -10%;
    }

    .tablaposiciones {
        padding: 0;
        margin: 0;
        width: auto;
        height: 800px;
        top: 50px;
        margin-top: 20px;
        margin-left: 90px;
        width: 75%;
        height: 300px;
    }

    .nombre {
        text-align: center;
    }

    .formulario {
        text-align: center;
        font-family: $font-family_2;
        font-size: medium;
        color: $color_6;
        position: relative;
        top: 50px;
        margin-bottom: 40px;
    }

    .map-responsive {
        width: 400px;
        height: 200px;
        right: -30%;
        top: 25px;
    }

    .pie-pagina {
        .grupo-1 {
            width: 5%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .box {
                figure {
                    img {
                        margin-top: 40px;
                        width: 60px;
                        border-radius: 50%;
                    }
                }

                h2 {
                    color: $color_3;
                    margin-bottom: 25px;
                    font-size: 0px;
                }

                p {
                    color: $color_4;
                    margin-bottom: 10px;
                    font-size: 0px;
                }
            }

            .red-social {
                a {
                    &:hover {
                        color: $color_5;
                    }
                }
            }
        }

        width: 100%;
        background: linear-gradient(to bottom, #061700, #357822, #17de17);
        height: -5px;

        .grupo-2 {
            background-color: $background-color_4;
            padding: 15px 10px;
            text-align: center;
            color: $color_3;

            small {
                font-size: 10px;
            }
        }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-family_3;
    }

    .facebook {
        display: inline-block;
        width: 60px;
    }

    .instagram {
        width: 60px;
    }

    .twitter {
        width: 60px;
    }

    .youtube {
        margin-top: 5px;
        width: 60px;
        display: inline;
    }
}